<html>
	<head>
		<title>Data collector</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="dcollector/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="dcollector/bower_components/bootswatch/darkly/bootstrap.min.css">
		<link rel="stylesheet" href="dcollector/bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="dcollector/content/app.css">

		<script src="dcollector/node_modules/angular2/bundles/angular2-polyfills.js"></script>
		<script src="dcollector/node_modules/systemjs/dist/system.src.js"></script>
		<script src="dcollector/node_modules/rxjs/bundles/Rx.js"></script>
		<script src="dcollector/node_modules/angular2/bundles/angular2.dev.js"></script>
		<script src="dcollector/node_modules/angular2/bundles/router.dev.js"></script>
		<script src="dcollector/node_modules/angular2/bundles/http.dev.js"></script>

		<script>
			System.config({
				packages: {
					dcollector: {
						dist: {
							format: 'register',
							defaultExtension: 'js'
						}
					}
				}
			});
			System.import('dcollector/dist/main').then(null, console.error.bind(console));
		</script>
	</head>
	<body>
		<data-collector>Loading...</data-collector>
	</body>
	<script src="dcollector/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="dcollector/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
