<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"/>
		<link rel="stylesheet" href="../stylesheets/main.css"/>
		<link rel="stylesheet" href="../stylesheets/popup.css"/>
		<link rel="icon" type="image/png" href="../content/images/favicon.png"/>
		<title>Data Collector</title>
	</head>
	<body data-ng-app="myApp" data-ng-controller="mainController" id="dcollector">
		<nav role="navigation" bs-navbar="bs-navbar" class="navbar navbar-inverse">
		<div class="navbar-header">
			<button id="add" data-animation="am-fade-and-slide-top" data-template="addEntry.html" data-container="body" bs-modal="modal" class="btn navbar-toggle">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<a class="navbar-brand">Data Collector</a>
		</div>
		</nav>
		<div class="jumbotron">
			<div class="container"><a href="/dprocessor" class="btn btn-warning link pull-left">Go to DProcessor</a>
				<div class="file-selector">
					<button type="button" data-ng-model="selectedFile" data-bs-options="file for file in availableFiles" data-bs-select="" ng-change="changeFile()" placeholder="Choose file..." class="btn btn-default pull-right">Action<span class="caret"></span></button>
				</div>
			</div>
			<div id="alert-container" class="container"></div>
			<div class="container">
				<div ng-repeat="entry in entries" class="entry">
					<div data-ng-if="entry.formula == null" class="row">
						<label class="name">{{ entry.name }}</label>
						<div class="contents">
							<span data-ng-if="entry.unit != null" class="diff">{{entry.diff}}</span>
							<input data-ng-if="entry.unit != null" type="number" ng-model="entry.value" click-select="click-select" class="value" data-ng-change="showChanges(entry)"/>
							<input data-ng-if="entry.unit == null" type="text" ng-model="entry.value" click-select="click-select" class="value"/>
							<label class="unit">{{ entry.unit }}</label><span data-ng-click="removeEntryFromList(entry)" class="remove glyphicon glyphicon-remove"></span>
						</div>
					</div>
					<div data-ng-if="entry.formula != null">
						<label class="name">{{ entry.name }}</label>
						<span class="diff">{{entry.diff}}</span>
					</div>
					<div data-ng-if="entry.formula != null" class="row">
						<div class="contents">
							<label data-ng-init="evaluateFormula(entry)" class="value">{{ entry.value }} =&nbsp;</label>
							<input type="text" ng-model="entry.formula" class="formula"/>
							<label class="unit">{{ entry.unit }}</label><span data-ng-click="removeEntryFromList(entry)" class="remove glyphicon glyphicon-remove"></span>
						</div>
					</div>
				</div>
				<button id="send" data-ng-if="selectedFile" data-ng-click="sendData()" class="btn btn-success pull-right">Send</button>
			</div>
		</div>
		<footer>
		<div class="container"> <small>JesusAndPals 2015</small></div>
		</footer>
	</body>
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.2.1/angular-strap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.2.1/angular-strap.tpl.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-cookies.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="../scripts/services/listService.js"></script>
	<script src="../scripts/controllers/dcollector.js"></script>
	<script src="../scripts/controllers/entryController.js"></script>
	<script src="../scripts/directives/directives.js"></script>
  </html>
