html
	head
		title DProcessor
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href="../Content/dprocessor.css")
	body
		nav.navbar.navbar-inverse.navbar-fixed-top(bs-navbar)
			div.navbar-brand Data Processor
		div.jumbotron
			div.container
				a.btn.btn-warning.link(href="/") Go to DCollector
			div#chartContainer.container
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="http://code.highcharts.com/highcharts.js")
		script(src="../Scripts/Controllers/dprocessor.js")
