extends layout

block content
	body(data-ng-app="dprocess", data-ng-controller="dprocessController")#dprocess
		nav.navbar.navbar-inverse.navbar-fixed-top(bs-navbar)
			div.navbar-brand Data Processor
		div.jumbotron
			div.container
				a.btn.btn-warning.link.pull-left(href="/") Go to DCollector
				div.file-selector
					button.btn.btn-default.pull-right.dropdown-toggle(type="button", data-ng-model="selectedFile", data-bs-options="file for file in availableFiles", data-bs-select, ng-change="changeFile()", placeholder="Choose file...")
						| Action
						span.caret
			div#chartContainer.container
			div.axiscontainer.container
				span(ng-repeat="serie in data").axis.col-sm-4.col-xs-6
					div.axispanel
						input(type="checkbox", data-ng-model="serie.visible", data-ng-change="createChart()") 
						b(style="color: {{ serie.color }}") &nbsp;{{ serie.name }}
						div.options(ng-model="serie.type", bs-radio-group)
							input(type="radio", value="line")
							&nbsp;Line
							br
							input(type="radio", value="spline")
							&nbsp;Spline
							br
							input(type="radio", value="areaspline")
							&nbsp;Area Spline
							br
							input(type="radio", value="bar")
							&nbsp;Bar
							br
							input(type="radio", value="waterfall")
							&nbsp;Waterfall
							br
		footer 
			div.container 
				small JesusAndPals 2015
