extends layout

block content
	body(data-ng-app="dprocess", data-ng-controller="dprocessController")#dprocess
		nav.navbar.navbar-inverse.navbar-fixed-top(bs-navbar)
			div.navbar-brand Data Processor
		div.jumbotron
			div.container
				a.btn.btn-warning.link.pull-left(href="/") Go to DCollector
				div.file-selector
					button.btn.btn-default.pull-right.dropdown-toggle(type="button", data-ng-model="selectedFile", data-bs-options="file for file in availableFiles", data-bs-select, ng-change="changeFile()", placeholder="Choose file...")
						| Action
						span.caret
			div#chartContainer.container
		footer 
			div.container 
				small JesusAndPals 2015
