.good {
	color: green;
}
.bad {
	color: red;
}

.unit {
	width: 30px;
}

footer.panel {
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 5px 10px;
}

nav.navbar {
	margin-bottom: 0px;
}

.controls {
	margin-top: 20px;
}

.entry {
	.head {
		.name {
			margin-left: 10px;
		}
		.menu {
			margin-left: 20px;

			span {
				padding: 0 5px;
			}
		}
	}
}
