.entry
	display block
	padding 10px

	input.value, input.formula
		width 120px
		float right
		text-align right

	span.value
		display block
		width 160px
		float right
		text-align right
		font-weight bold
		line-height 30px

	.name
		line-height 24px

	.unit
		display block
		width 30px
		padding 0 5px
		float right

	.remove
		float right
		margin-left 10px
		font-size 1.6em
		cursor pointer

	.remove:hover
		color red

.entry:nth-child(odd)
	background-color #eee

.entry:nth-child(even)
	background-color #ddd


.entry:hover
	background-color #5588dd


button#add
	cursor pointer
	margin 10px
	heigth auto
