body
	padding 50px 0
	
.entry
	display block
	padding 10px
	
	.row
		margin 5px 0

	input.value, input.formula
		float right
		text-align right
		
	span.value
		display block
		float right
		text-align right
		font-weight bold

	.name
		float left

	.unit
		display block
		float right
		padding 0 5px
		width 30px

	.remove
		float right
		cursor pointer

	.remove:hover
		color red

.entry:nth-child(odd)
	background-color #eee

.entry:nth-child(even)
	background-color #ddd


.entry:hover
	background-color #5588dd


button#add
	cursor pointer
	
	.glyphicon
		color white