.modal-dialog.addEntry
	z-index 10000
	position fixed
	top 20
	left 0
	right 0

	.modal-header
		font-weight bold

	.modal-content
		.modal-body
			.block
				margin-top 10px

			.name, .unit, .value, .aggregate
				padding 5px 0
				
			.selection
				.btn-group
					padding 0 15px

	.modal-footer
		button
			margin 10px
