.modal-dialog.addEntry 
	z-index: 10000

	.modal-header
		font-weight bold
		font-size 1.6em

	.modal-content
		.name, .unit, .value, .aggregate
			line-height 30px
			padding: 5px 0

			input
				width 260px

	.modal-footer
		button
			width 120px
			margin 10px
